<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ title_email }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body { font-family: Arial, sans-serif; line-height: 1.7; color: #333; }
        .container { max-width: 600px; margin: 0 auto; padding: 20px; }
    </style>
</head>
<body>
    <div class="container">
        <p>
            こちらのメールアドレス({{ user_email }}）より、Wakeatteパスワード再設定のリクエストを受付けました。<br />
            [確認コード] {{ reset_code }}<br />
            上記の確認コードを画面へ入力してください。<br />
        </p>
        <p>
            ※このメールは送信専用です。ご返信いただきましても対応いたしかねます。<br />
            ※本メールにお心当たりのない場合、他のユーザー様等が誤って入力された可能性があります。<br />
            お手数ですが破棄していただきますようお願いいたします。<br />
            ==================================　<br />
            Wakeatte運営事務局
        </p>
    </div>
</body>
</html>
