<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title_email }}</title>
  </head>

  <body>
    <p>
      wakeatte全国版<br />
      管理画面のアカウントの作成が完了しました。<br /><br />

      アカウント情報は以下のとおりです。「wakeatteアプリ」から商品登録やロッカーの選択が可能です。アプリをダウンロードして頂き下の箇所の「販売店様管理画面はこちら」からアカウント情報を入力しログインしてください。<br />
      ----------------------------------　<br />
      店舗ID: {{ store_id }}<br />
      メール: {{ email }}<br />
      パスワード: {{ password }}<br /><br />
      ----------------------------------　<br />
      アプリの場合は、アプリダウンロードしてからアカウント情報を入力して下さい。<br />
      ----------------------------------　<br />
      App Store: <a href="{{ appstore_url }}">こちらをクリック</a><br />
      Google Store: <a href="{{ googleplay_url }}">こちらをクリック</a><br />
      ----------------------------------　<br />

      ご不明な点がございましたら、管理者までご連絡ください。
    </p>
  </body>
</html>
